<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Contacts</title>
        <link rel="stylesheet" href="./../styles/palo-alto-style.css">
        <link href=# rel="stylesheet"> 
    </head>
    <body>
        <div class="container">
            <header>
                <a href="./index.html" class="logo"></a>
                <nav>
                    <ul class="navigation">
                        <li><a href=”./index.html” class="navigation__elem">travel</a></li>
                        <li><a href="./index.html" class="navigation__elem">music</a></li>
                        <li><a href="./index.html" class="navigation__elem">photodiary</a></li>
                        <li><a href="./index.html" class="navigation__elem">lifestyle</a></li>
                    </ul>
                </nav>
            </header>
            <main> 
                <section class="section">
                    
                </section>                                  
            </main>
        </div>        
        <footer>
            
        </footer>
    </body>
</html>