.container {
    max-width: 1061px;
    margin: auto;
    position: relative;
}

header {
    margin: 5.8%;
    margin-top: 30px;
    height: 11px;
}



.logo {
    width: 20%;
    display: inline-block;
    background: url(./../images/minimo.png);
    height: 25px;
    background-repeat: no-repeat;
}

nav {
    width: 79%;
    display: inline-block;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation__elem {
    margin-left: 12%;
    display: inline-block;
    color: #626262;
    font: 400 14px / 24px PlayfairDisplay;
    position: relative;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
}

.big-photo {
    margin-left: 5.8%;
    margin-right: 5.8%;
    background-image: url(./../images/image.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.section {
    margin: 5.8%;
    margin-top: 36px;
    width: 54.9%;
    display: inline-block;
}

.section__photo {
    width: 100%;  
    margin-bottom: 25px;
    margin-top: 25px;
}

.section__photocontainer {
    padding-bottom: 50px;   
}

aside {
    width: 22.7%;
    margin-right: 5.8%;
    margin-top: 50px;
    float: right;
}

.soсials {
    margin-bottom: 25%;
    margin-top: 10%;
}

.aside__photo {
    width: 100%;
}

.aside__about {
    color: #626262;
    font: 400 24px / 20px PlayfairDisplay;
    margin-bottom: 0;
}

.aside__portrait {
    color: #626262;
    font: 400 12px / 20px PlayfairDisplay;
}

.section__name {
    color: #b4ad9e;
    font: 300 14px Ubuntu;
    text-transform: uppercase;
}

.section__title {
    color: #626262;
    font: 400 30px PlayfairDisplay;
}

.section__article {
    color: #626262;
    font: 400 14px / 24px PlayfairDisplay;
    margin-bottom: 50px;
}

.section__quote {
    color: #626262;
    font: italic 14px / 24px PlayfairDisplay;
    margin-left: 3%;
}

.top__posts {
    color: #b4ad9e;
    font: 300 14px Ubuntu;
    text-transform: uppercase;
}

.top {    
    margin-bottom: 20%;
    margin-top: 20%;
}

.postlist {
    color: #b4ad9e;
    padding-left: 20px;
}

.listelem__postname {
    color: #626262;
    font: 400 16px PlayfairDisplay;
}

.listelem__comments {
    color: #b4ad9e;
    font: 300 12px Ubuntu;
    text-transform: uppercase;
}

.listelem {
    margin-top: 5%;
    margin-bottom: 5%;
}

.banner {
    background-color: #b4ad9e;
    background-image: url(./../images/imagebcg.png);
    height: 250px;
    width: 250px;
    background-size: 100%;
    text-align: center;
}

.banner__size {
    color: #ffffff;
    font: 300 48px Ubuntu;
    padding-top: 38%;
    margin: 3%;
}

.banner__spot {
    color: #ffffff;
    font: 300 14px Ubuntu;
    text-transform: uppercase;
}

footer { 
    height: 97px;
    background-color: #d9d9d9;
    margin-top: 40px;
}

.follow-socials {
    float: right;    
    margin: 37px;
    width: 20%;
}

.follow-socials__follow {
    color: #000000;
    font: 400 14px / 24px PlayfairDisplay;
    margin: 7%;
    vertical-align: top;
}

body {
    margin: 0px;
}

.socialimg {
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.fbimg {
    background-image: url(./../images/fb.png);
    
}

.twimg {
    background-image: url(./../images/tw.png);
}

.gimg {
    background-image: url(./../images/g+.png);
}

.tumblrimg {
    background-image: url(./../images/tumblr.png);
}

.pinterestimg {
    background-image: url(./../images/pinterest.png);
}

.instimg {
    background-image: url(./../images/instagram2.png);
}

.follow-socials__inst-image-2 {
    background-image: url(./../images/instagram.png);
}

.follow-socials__twitter-image {
    background-image: url(./../images/twitter.png);
}

.follow-socials__facebook-image {
    background-image: url(./../images/facebook.png)
}
.sharingsoc {
    float: right;
    width: 31%;
    display: inline-block;
}

.footeritems {
    margin: 37px;
    width: 40%;
    color: #000000;
    font: 400 14px / 24px PlayfairDisplay;
    float: left;    
    display: inline-block;
}

.footeritems__element {    
    display: inline-block;
    margin-right: 4%;
    text-decoration: none;
    color: #000000;
}

.share-socials {
    float: right;   
    width: 100%;
    position: absolute;
    right: 15%;
}

.share-socials__share {
    color: #b4ad9e;
    font: 300 13px / 24px Ubuntu;
    margin-right: 3%;
    float: right;
    text-transform: uppercase;
}