{% extends "layout.html" %}

{% block main %}

<main> 
   <section class="section">
        <h2 class="section__header">Contact Us</h2>
        <p class="section__paragraph">
            Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
        </p>                   
        <form>
            <input id="1" name="name" type="text" class="message-form" placeholder="Your Name">
            <input id="2" name="email" type="text" class="message-form message-form_email" placeholder="Email">
            <input id="3" name="subject" type="text" class="message-form message-form_subject" placeholder="Subject">
            <textarea id="4" name="message" type="text" class="message-form message-form_message message-form__textarea" placeholder="Your Message"></textarea>                       
            <button type="submit" class="section__button">send message</button>
       </form>
    </section>        
</main>
{% endblock %}        